body {
    font-family: Arial;
}

.head {
    height: 10vh;
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
}

.article {
    width: 70%;
}


.aside {
    width: 30%;
}

hr {
    opacity: 0.7;
    max-width: 900px;
    margin: 0px;
}

h1,
h3 {
    font-family: Arial;
}

p,
a {
    font-family: Arial;
}

a {
    color: #005082;
}

footer {
    height: 10vh;
    margin-top: 40px;
    text-align: center;
    background-color: #f9f9f9;
    font-family: Helvetica;
}

.myButton {
    background-color: transparent;
    border-radius: 28px;
    border: 2px solid #000839;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;

}

.myButton:hover {
    background-color: transparent;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.side-mid {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.links {
    margin-top: 10px;
}

.side-top {
    background-color: #f9f9f9;
    border: 2px solid #000839;
    padding: 5px;
    margin-right: 20px;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;

}